USE [master]
GO
/****** Object:  Database [GroceryDB]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE DATABASE [GroceryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GroceryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GroceryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GroceryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GroceryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GroceryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GroceryDB]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TotalSavings] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[ReceivedAmount] [decimal](18, 2) NOT NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DailySalesReport]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create Views for Reporting

-- View for Daily Sales Report
CREATE VIEW [dbo].[DailySalesReport]
AS
SELECT 
    CAST(BillDate AS DATE) AS SaleDate,
    COUNT(BillID) AS TotalBills,
    SUM(TotalAmount) AS TotalSales,
    SUM(TotalSavings) AS TotalSavings,
    AVG(TotalAmount) AS AverageBillAmount
FROM [dbo].[Bills]
GROUP BY CAST(BillDate AS DATE)

GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[BillDetailID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TopSellingItems]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for Top Selling Items
CREATE VIEW [dbo].[TopSellingItems]
AS
SELECT 
    i.ItemID,
    i.ItemName,
    SUM(bd.Quantity) AS TotalQuantitySold,
    SUM(bd.SubTotal) AS TotalRevenue
FROM [dbo].[BillDetails] bd
INNER JOIN [dbo].[Items] i ON bd.ItemID = i.ItemID
GROUP BY i.ItemID, i.ItemName

GO
/****** Object:  View [dbo].[SalesReportView]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create View for Sales Report Data (optional but useful)
CREATE   VIEW [dbo].[SalesReportView]
AS
SELECT 
    b.BillID,
    b.BillDate,
    b.CustomerName,
    b.CustomerPhone,
    b.TotalAmount,
    b.TotalSavings,
    b.PaymentMethod,
    b.ReceivedAmount,
    b.BalanceAmount,
    (SELECT COUNT(*) FROM BillDetails WHERE BillID = b.BillID) AS TotalItems,
    (SELECT SUM(Quantity) FROM BillDetails WHERE BillID = b.BillID) AS TotalQuantity
FROM [dbo].[Bills] b

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([BillDetailID], [BillID], [ItemID], [Quantity], [Price], [Discount], [SubTotal]) VALUES (70, 38, 29, 1, CAST(280.00 AS Decimal(18, 2)), CAST(11.20 AS Decimal(18, 2)), CAST(268.80 AS Decimal(18, 2)))
INSERT [dbo].[BillDetails] ([BillDetailID], [BillID], [ItemID], [Quantity], [Price], [Discount], [SubTotal]) VALUES (71, 38, 30, 6, CAST(120.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(18, 2)), CAST(684.00 AS Decimal(18, 2)))
INSERT [dbo].[BillDetails] ([BillDetailID], [BillID], [ItemID], [Quantity], [Price], [Discount], [SubTotal]) VALUES (72, 38, 50, 1, CAST(980.00 AS Decimal(18, 2)), CAST(49.00 AS Decimal(18, 2)), CAST(931.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillID], [BillDate], [TotalAmount], [TotalSavings], [PaymentMethod], [ReceivedAmount], [BalanceAmount], [CustomerName], [CustomerPhone]) VALUES (38, CAST(N'2026-01-17T19:57:29.760' AS DateTime), CAST(2842.10 AS Decimal(18, 2)), CAST(127.90 AS Decimal(18, 2)), N'CASH', CAST(5000.00 AS Decimal(18, 2)), CAST(2157.90 AS Decimal(18, 2)), N'Walk-in Customer', N'Not Provided')
INSERT [dbo].[Bills] ([BillID], [BillDate], [TotalAmount], [TotalSavings], [PaymentMethod], [ReceivedAmount], [BalanceAmount], [CustomerName], [CustomerPhone]) VALUES (39, CAST(N'2026-01-22T20:19:24.440' AS DateTime), CAST(3827.40 AS Decimal(18, 2)), CAST(192.60 AS Decimal(18, 2)), N'CASH', CAST(50000.00 AS Decimal(18, 2)), CAST(46172.60 AS Decimal(18, 2)), N'Walk-in Customer', N'Not Provided')
INSERT [dbo].[Bills] ([BillID], [BillDate], [TotalAmount], [TotalSavings], [PaymentMethod], [ReceivedAmount], [BalanceAmount], [CustomerName], [CustomerPhone]) VALUES (40, CAST(N'2026-02-15T16:42:58.983' AS DateTime), CAST(86016.00 AS Decimal(18, 2)), CAST(7168.00 AS Decimal(18, 2)), N'CASH', CAST(1000000.00 AS Decimal(18, 2)), CAST(913984.00 AS Decimal(18, 2)), N'Walk-in Customer', N'Not Provided')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemName], [Price], [DiscountPercentage], [CreatedDate]) VALUES (1, N'Rice - Basmati 1kg', CAST(450.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-11-30T16:19:32.600' AS DateTime))
INSERT [dbo].[Items] ([ItemID], [ItemName], [Price], [DiscountPercentage], [CreatedDate]) VALUES (2, N'Wheat Flour 1kg', CAST(120.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(N'2025-11-30T16:19:32.600' AS DateTime))
INSERT [dbo].[Items] ([ItemID], [ItemName], [Price], [DiscountPercentage], [CreatedDate]) VALUES (3, N'Sugar 1kg', CAST(130.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(5, 2)), CAST(N'2025-11-30T16:19:32.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserRole], [FullName], [Email], [Phone], [IsActive], [CreatedDate], [LastLogin]) VALUES (1, N'admin', N'admin123', N'Admin', N'System Administrator', N'admin@abcgrocery.lk', N'0771234567', 1, CAST(N'2025-12-01T20:47:24.733' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BillDetails_BillID]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillDetails_BillID] ON [dbo].[BillDetails]
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillDetails_ItemID]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillDetails_ItemID] ON [dbo].[BillDetails]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_BillDate]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_BillDate] ON [dbo].[Bills]
(
	[BillDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_BillDate_Range]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_BillDate_Range] ON [dbo].[Bills]
(
	[BillDate] ASC
)
INCLUDE([TotalAmount],[TotalSavings],[CustomerName]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Items_ItemName]    Script Date: 6/25/2026 8:25:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Items_ItemName] ON [dbo].[Items]
(
	[ItemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E42138581A]    Script Date: 6/25/2026 8:25:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ('CASH') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [ReceivedAmount]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [BalanceAmount]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ('Walk-in Customer') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ('Not Provided') FOR [CustomerPhone]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Admin') FOR [UserRole]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([BillID])
REFERENCES [dbo].[Bills] ([BillID])
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
/****** Object:  StoredProcedure [dbo].[AddItem]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add to your existing database script
-- Stored Procedure to Add New Item
CREATE PROCEDURE [dbo].[AddItem]
    @ItemName NVARCHAR(100),
    @Price DECIMAL(18,2),
    @DiscountPercentage DECIMAL(5,2)
AS
BEGIN
    INSERT INTO [dbo].[Items] ([ItemName], [Price], [DiscountPercentage])
    VALUES (@ItemName, @Price, @DiscountPercentage)
    
    SELECT SCOPE_IDENTITY() AS NewItemID
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteItem]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Delete Item
CREATE PROCEDURE [dbo].[DeleteItem]
    @ItemID INT
AS
BEGIN
    DELETE FROM [dbo].[Items] WHERE [ItemID] = @ItemID
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteSalesData]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Delete Sales Data (required by your C# code)
CREATE   PROCEDURE [dbo].[DeleteSalesData]
    @StartDate DATE,
    @EndDate DATE,
    @DeleteBillDetails BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION
        
        -- Validate date range
        IF @StartDate > @EndDate
        BEGIN
            RAISERROR('StartDate cannot be greater than EndDate', 16, 1)
            RETURN
        END
        
        -- Get BillIDs to delete
        DECLARE @BillIDs TABLE (BillID INT)
        
        INSERT INTO @BillIDs (BillID)
        SELECT BillID FROM [dbo].[Bills]
        WHERE CAST(BillDate AS DATE) BETWEEN @StartDate AND @EndDate
        
        -- Delete BillDetails first (foreign key constraint)
        IF @DeleteBillDetails = 1
            DELETE FROM [dbo].[BillDetails]
            WHERE BillID IN (SELECT BillID FROM @BillIDs)
        
        -- Delete Bills
        DELETE FROM [dbo].[Bills]
        WHERE BillID IN (SELECT BillID FROM @BillIDs)
        
        -- Return count of deleted records
        SELECT COUNT(*) AS 'DeletedRecords' FROM @BillIDs
        
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllItems]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create Stored Procedures for Common Operations

-- Stored Procedure to Get All Items
CREATE PROCEDURE [dbo].[GetAllItems]
AS
BEGIN
    SELECT [ItemID], [ItemName], [Price], [DiscountPercentage]
    FROM [dbo].[Items]
    ORDER BY [ItemName]
END

GO
/****** Object:  StoredProcedure [dbo].[GetBillSummary]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Get Bill Summary
CREATE PROCEDURE [dbo].[GetBillSummary]
    @BillID INT
AS
BEGIN
    SELECT 
        b.BillID,
        b.BillDate,
        b.TotalAmount,
        b.TotalSavings,
        b.PaymentMethod,
        b.ReceivedAmount,
        b.BalanceAmount,
        b.CustomerName,
        b.CustomerPhone,
        bd.ItemID,
        i.ItemName,
        bd.Quantity,
        bd.Price,
        bd.Discount,
        bd.SubTotal
    FROM [dbo].[Bills] b
    INNER JOIN [dbo].[BillDetails] bd ON b.BillID = bd.BillID
    INNER JOIN [dbo].[Items] i ON bd.ItemID = i.ItemID
    WHERE b.BillID = @BillID
    ORDER BY bd.BillDetailID
END

GO
/****** Object:  StoredProcedure [dbo].[GetItemByID]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Get Item by ID
CREATE PROCEDURE [dbo].[GetItemByID]
    @ItemID INT
AS
BEGIN
    SELECT [ItemID], [ItemName], [Price], [DiscountPercentage], [CreatedDate]
    FROM [dbo].[Items]
    WHERE [ItemID] = @ItemID
END

GO
/****** Object:  StoredProcedure [dbo].[GetSalesReport]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure for Sales Report (required by your C# code)
CREATE   PROCEDURE [dbo].[GetSalesReport]
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    -- Set default date range if not provided
    IF @StartDate IS NULL
        SET @StartDate = DATEADD(DAY, -30, GETDATE())
    IF @EndDate IS NULL
        SET @EndDate = GETDATE()

    -- Validate date range
    IF @StartDate > @EndDate
    BEGIN
        SET @StartDate = @EndDate
        SET @EndDate = DATEADD(DAY, 30, @StartDate)
    END

    SELECT 
        b.BillID,
        b.BillDate,
        b.CustomerName,
        b.CustomerPhone,
        b.TotalAmount,
        b.TotalSavings,
        b.PaymentMethod,
        b.ReceivedAmount,
        b.BalanceAmount,
        COUNT(bd.BillDetailID) AS TotalItems,
        SUM(bd.Quantity) AS TotalQuantity
    FROM [dbo].[Bills] b
    LEFT JOIN [dbo].[BillDetails] bd ON b.BillID = bd.BillID
    WHERE CAST(b.BillDate AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY 
        b.BillID, b.BillDate, b.CustomerName, b.CustomerPhone,
        b.TotalAmount, b.TotalSavings, b.PaymentMethod,
        b.ReceivedAmount, b.BalanceAmount
    ORDER BY b.BillDate DESC, b.BillID DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SaveBill]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Save Bill
CREATE PROCEDURE [dbo].[SaveBill]
    @TotalAmount DECIMAL(18,2),
    @TotalSavings DECIMAL(18,2),
    @ReceivedAmount DECIMAL(18,2),
    @BalanceAmount DECIMAL(18,2),
    @PaymentMethod NVARCHAR(50),
    @CustomerName NVARCHAR(100),
    @CustomerPhone NVARCHAR(20),
    @BillID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Bills] (
        [TotalAmount], 
        [TotalSavings], 
        [ReceivedAmount], 
        [BalanceAmount], 
        [PaymentMethod], 
        [CustomerName], 
        [CustomerPhone]
    )
    VALUES (
        @TotalAmount,
        @TotalSavings,
        @ReceivedAmount,
        @BalanceAmount,
        @PaymentMethod,
        @CustomerName,
        @CustomerPhone
    )
    
    SET @BillID = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[SaveBillDetail]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Save Bill Details
CREATE PROCEDURE [dbo].[SaveBillDetail]
    @BillID INT,
    @ItemID INT,
    @Quantity INT,
    @Price DECIMAL(18,2),
    @Discount DECIMAL(18,2),
    @SubTotal DECIMAL(18,2)
AS
BEGIN
    INSERT INTO [dbo].[BillDetails] (
        [BillID],
        [ItemID],
        [Quantity],
        [Price],
        [Discount],
        [SubTotal]
    )
    VALUES (
        @BillID,
        @ItemID,
        @Quantity,
        @Price,
        @Discount,
        @SubTotal
    )
END

GO
/****** Object:  StoredProcedure [dbo].[SearchItems]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Search Items
CREATE PROCEDURE [dbo].[SearchItems]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SELECT [ItemID], [ItemName], [Price], [DiscountPercentage]
    FROM [dbo].[Items]
    WHERE [ItemName] LIKE '%' + @SearchTerm + '%'
    ORDER BY [ItemName]
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateItem]    Script Date: 6/25/2026 8:25:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Update Item
CREATE PROCEDURE [dbo].[UpdateItem]
    @ItemID INT,
    @ItemName NVARCHAR(100),
    @Price DECIMAL(18,2),
    @DiscountPercentage DECIMAL(5,2)
AS
BEGIN
    UPDATE [dbo].[Items]
    SET [ItemName] = @ItemName,
        [Price] = @Price,
        [DiscountPercentage] = @DiscountPercentage
    WHERE [ItemID] = @ItemID
END

GO
USE [master]
GO
